%navbar

.container
  .center.flip{'ng-if' => 'pending'}
    .text-center
      %i.fa.fa-spinner.fa-spin.fa-4x

  .flip{'ng-if' => '!pending'}
    %alert.slide-down{'ng-repeat' => 'alert in alerts', :type => 'alert.type', :close => 'closeAlert($index)'}
      %a.alert-link{:href => '{{newSample}}'}
        {{alert.msg}}

    .row{'ng-if' => 'samples.length == me.sample_limit'}
      .col-lg-12.text-center
        .bs-callout-danger
          %strong
            It looks like you have reached your limit, please remove some samples in order to create a new one.

    .row
      .col-lg-12
        %h3
          Samples:
          %button.btn.btn-default.btn-xs.pull-right{:type => 'button', 'ng-click' => 'isCollapsed=!isCollapsed'}
            %i.fa.fa-pencil-square-o.fa-lg
              Add Sample
    %br

    .row
      .col-lg-12{:collapse => 'isCollapsed'}
        %form.form-horizontal{:name => 'form', 'ng-submit' => 'createSample()'}
          %span.input-group-addon
            %strong
              Sample Text:
          %textarea.form-control{:rows => '8', 'ng-model' => 'sample.body',  :required => ''}
          %br
          .col-lg-3
          .col-lg-6
            %button.btn.btn-xs.btn-success.btn-block{:type => 'submit', 'ng-click' => 'isCollapsed=!isCollapsed'}
              %i.fa.fa-floppy-o.fa-lg
                Save
          .col-lg-3
        %br
        %br

    .row
      .col-lg-12
        %ul.media-list
          %li.media{'ng-repeat' => 'sample in samples'}
            .media-body
              %p
                %a{:href => '#/samples/{{sample.id}}', :id => '{{sample.id}}'}
                  %i.fa.fa-comment.fa-lg
                  {{sample.body}}

    .row{'ng-if' => 'samples.length < 1'}
      .col-lg-12.text-center
        .bs-callout-primary
          %p
            It looks like you dont have any samples yet please create some to see the results

    .row
      .col-lg-12
        %h6
          %strong
            &copy Copyright Ziemniak
            = Time.now.year
          %small
            Version
            = Ziemniak::Version.get