.login-wrapper#login
  .box
    .content-wrap
      %form{'ng-submit' => 'login()'}
        %h3.padding
          Ziemniak
        %alert{'ng-repeat' => 'alert in alerts', :type => 'alert.type', :close => 'closeAlert($index)'}
          {{alert.msg}}
        %input.form-control.padding{:name => 'username', :placeholder => 'Username', 'ng-model' => 'user.username'}
        %input.form-control.padding{:name => 'password', :type => 'password', :placeholder => 'Password', 'ng-model' => 'user.password'}
        %button.btn.btn-info.btn-sm.btn-block{:type => 'submit'}
          Login
    .no-account
      %p
        Don't have an account?
      %a{:href => '/#/users/register'}
        Register